#logo {
    height: 100px;
}

a:hover {
    color: var(--yt-primary-text-color);
    text-decoration: none;
}

.text-center h1 {
    font-size: 30px;
}

.description ,title,h2 , span{
    position: relative;
    left: 50px;
}

.title{
    font-weight: 500;
    font-size: 1.5rem;
}
span{
    color: rgb(105, 64, 199);
}
 span:hover{
   cursor: pointer;
   color: rgba(233, 6, 6, 0.877);
}
#submit {
    width: 40%;
}

.result {
    display: inline-block;
}

.result {
    margin-bottom: 10px;
    margin-top: 10px;
}

.result img {
    float: left;
    height: 160px;
    width: 246px;
}

a {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--yt-primary-text-color);
}

.search-again{
    position: relative;
    right: -48%;
    top: -40px;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 64px;
    height: 64px;
    /* hide */
    transition: all .5s ease-in-out;
    opacity: 0;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid rgb(236, 16, 16);
    border-color: rgb(236, 16, 16) transparent rgb(236, 16, 16) transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  